body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1613274850901-d2a357994928?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1038&q=80');
    background-size: cover;
    background-position: top;
    min-height: 100vh;
  }

  .cover-container {
    max-width: 80vw;
  }

  .nav-link {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1.5rem;
  }

  .nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
  }